@charset "UTF-8";

html {
  height: 100%;
}

body {
  /*font-family: Arial, Verdana, sans-serif;*/
  margin: 0;
  height: 100%;
  text-align: center;
}

#header {
  background-color: #EEFFFF;
  height: 48px;
  width: 100%;
  margin: 0;
  min-width: 240px;
}

div .mainBtn{
  background: none;
  border: none;
}

div div #logo{
  float: left;
}

div div #icon{
  float: right;
}

img {
  height: 36px;
}

#menu {
  position: absolute;
  width: 100%;
  height: 480px;
  z-index: 2;
  display: none;
}

#menuMain{
  background-color: #CBFFD3;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}


#slider{
  margin: 0;
  padding: 0;
  height: 60px;
}

input{
  /* border: 1px solid #FF00aa; */
  margin: 0;
  padding: 0;
  width: 90%;
  height: 60px;
}

p{
  margin: 0;
  padding: 0;
}

#login{
  margin: 0;
  padding: 0 20px 0 0;
}

#inputBox{
  width: 90%;
}

button{
  /*border: 20px solid #FF00aa;*/
}

#container {
  background-color: #EEEEEE;
  width: 100%;
  min-height: 1000px;
  min-width: 300px;
  float: left;
}

/*for smartphone*/

/*for tablet*/
/*@media all and (min-width: 480px){

}*/

/*for PC*/
@media all and (min-width: 768px){
  #menuBtn{
    display: none;
  }

  div#wrapper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    min-height: 96px;
    margin: 0 auto;
    min-width: 760px;
  }

  div#left{
    width: 45%;
    height: 100%;
    float: left;
  }
  #header{
    width: 100%;
    left: 80px;
    min-width: 320px;
  }
  #menu {
    width: 100%;
    display: block;
    position:static;
    height: 800px;
  }
  #menuMain{
    background-color: #CBFFD3;
    width: 100%;
    height: 480px;
  }
  button#close{
    display: none;
  }

  #container {
    width: 55%;
    height: 100%;
    min-height: 1000px
  }
}
